html,
body {
  margin: 0px;
  padding: 0px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* 網站外框 */
#wrapper {
  text-align: center;
}

/* 相簿容器 */
.slider-container {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 950px;
  height: 340px;
}

#slider-list {
  position: absolute;
  top: 0%;
  left: 0%;
  width: calc(950px*6);
  height: 340px;
  transition: all .8s ease-in-out;
}

#slider-list .slider-item {
  float: left;
}

.slider-control {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
}

.slider-control .control {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  border-radius: 100%;
  background-color: #fff;
  cursor: pointer;
}

.slider-control .control.active {
  background-color: #ff0;
}